In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import RobustScaler

path = "./ml-100k/"
columns = ["user_id", "item_id", "rating", "timestamp"]

train = pd.read_csv(path + "u1.base", sep="\t", names=columns)
test = pd.read_csv(path + "u1.test", sep="\t", names=columns)

In [5]:
train.head(), test.head()

(   user_id  item_id  rating  timestamp
 0        1        1       5  874965758
 1        1        2       3  876893171
 2        1        3       4  878542960
 3        1        4       3  876893119
 4        1        5       3  889751712,
    user_id  item_id  rating  timestamp
 0        1        6       5  887431973
 1        1       10       3  875693118
 2        1       12       5  878542960
 3        1       14       5  874965706
 4        1       17       3  875073198)

Normalize

In [6]:
train_mean = train['rating'].mean()
train_std = train['rating'].std()
scaler = RobustScaler()
scaler.fit(train[['rating']])
train[['rating']] = scaler.transform(train[['rating']])
test[['rating']] = scaler.transform(test[['rating']])

Create user-item matrix, user_similarity

In [ ]:

user_item_matrix = train.pivot_table(index='user_id', columns='item_id', values='rating')
user_similarity = cosine_similarity(np.nan_to_num(user_item_matrix.values))
user_similarity = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)

In [9]:
user_item_matrix.head(10)

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.0,-1.0,0.0,-1.0,-1.0,NaN,0.0,-3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.0,NaN,NaN,NaN,NaN,NaN,-2.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
user_similarity.head(10)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.010358,0.007616,0.000000,0.035555,5.093451e-02,0.012356,0.037823,0.017509,-1.091870e-02,...,2.917802e-18,-0.060827,1.661037e-02,-0.038338,0.078966,-1.439132e-18,0.022147,0.047667,-3.669416e-02,0.040097
2,0.010358,1.000000,0.036761,-0.040825,0.000000,8.195375e-02,0.129227,0.000000,0.000000,0.000000e+00,...,0.000000e+00,-0.058722,6.681531e-02,0.129541,0.031764,4.517540e-02,-0.013363,0.000000,2.214037e-02,0.026393
3,0.007616,0.036761,1.000000,-0.060030,0.000000,1.004227e-02,0.000000,0.050337,0.000000,3.874921e-02,...,0.000000e+00,0.000000,-2.925058e-18,0.122452,-0.031138,-3.321361e-02,0.058948,0.000000,3.255585e-02,0.000000
4,0.000000,-0.040825,-0.060030,1.000000,0.015570,0.000000e+00,-0.048698,0.149071,0.000000,0.000000e+00,...,0.000000e+00,0.000000,-4.364358e-02,-0.090660,0.034581,0.000000e+00,0.152753,0.250490,3.615508e-02,0.000000
5,0.035555,0.000000,0.000000,0.015570,1.000000,2.604661e-02,0.083406,0.017408,-0.048349,-1.005038e-02,...,6.779769e-02,-0.022396,-1.464210e-20,0.007058,0.076725,8.614610e-03,0.010193,0.029251,-1.028677e-20,0.147634
6,0.050935,0.081954,0.010042,0.000000,0.026047,1.000000e+00,0.021724,0.112220,0.000000,-3.572435e-19,...,-5.827471e-02,0.032083,1.241174e-01,0.020222,0.075204,-6.170489e-02,0.014602,-0.020952,1.209658e-02,0.014420
7,0.012356,0.129227,0.000000,-0.048698,0.083406,2.172438e-02,1.000000,0.009074,-0.016803,8.382595e-02,...,-2.356133e-02,-0.035024,2.656720e-02,0.073583,0.033680,8.981352e-03,-0.026567,0.000000,5.282091e-02,0.101446
8,0.037823,0.000000,0.050337,0.149071,0.017408,1.122198e-01,0.009074,1.000000,0.000000,0.000000e+00,...,1.081856e-02,0.000000,9.759001e-02,-0.016893,0.057993,2.061965e-02,0.060994,0.105021,4.042260e-02,-0.016062
9,0.017509,0.000000,0.000000,0.000000,-0.048349,0.000000e+00,-0.016803,0.000000,1.000000,4.454354e-02,...,-1.638458e-18,0.000000,0.000000e+00,0.031281,0.017897,0.000000e+00,0.000000,0.000000,3.742406e-02,0.014871
10,-0.010919,0.000000,0.038749,0.000000,-0.010050,-3.572435e-19,0.083826,0.000000,0.044544,1.000000e+00,...,-4.996878e-02,0.000000,0.000000e+00,0.019507,0.011161,0.000000e+00,0.028172,0.000000,1.166900e-01,0.009274

KNN prediction

In [ ]:
def predict_rating(user_id, item_id, k=10):
    if item_id not in user_item_matrix.columns:
        return np.nan  

    # Users who rated the item
    users_rated = user_item_matrix[item_id].dropna()
    
    if users_rated.empty:
        return np.nan  # no one rated

    # Similarity scores
    sim_scores = user_similarity.loc[user_id, users_rated.index]
    
    # Top-k similar users without oneself
    top_k_users = sim_scores.sort_values(ascending=False).iloc[1:k+1]  

    # Ratings of the item from top-k users
    top_k_ratings = user_item_matrix.loc[top_k_users.index, item_id]

    # Weighted average
    if top_k_ratings.isnull().all():
        return np.nan  # all top-k users haven't rated

    weights = top_k_users[top_k_ratings.notnull()]
    ratings = top_k_ratings.dropna()
    
    if weights.sum() == 0:
        return np.nan  # avoid division by 0
    
    return np.dot(weights.values, ratings.values) / weights.sum()

predictions = []
ground_truth = []

for _, row in test.iterrows():
    pred = predict_rating(row['user_id'], row['item_id'], k=10)
    if not np.isnan(pred):
        predictions.append(pred)
        ground_truth.append(row['rating'])

# Compute RMSE
rmse = np.sqrt(mean_squared_error(ground_truth, predictions))
print(f"RMSE on test set: {rmse:.4f}")

RMSE on test set: 1.6490